.page-2main{
  height:100vh;
  width:100vw;
  font-size:3vh;
  background-color:black;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 5rem;
}
.rightForm{
  height:100%;
  align-items:center;
  padding:0;
  width:100%;
  font-size:1.5rem;

}
.leftForm{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:70vw;
  margin: 0 auto;
}


.lab{
  width: 20rem;

}
input{
  width:100%;
  height:5vh;
  margin-top:2vh;
  margin-bottom:2vh;
  border-radius:5px;
  border:none;
  outline:none;
  padding-left:1vw;
}
.addmore{
  width:30%;
  height:5vh;
  margin-top:2vh;
  margin-bottom:2vh;
  border-radius:5px;
  border:none;
  outline:none;
  margin-left:5vw;
  font-size:1.1rem;
}
.tenent{
  width:30%;
  display:flex;
  height:5vh;
  margin-top:2vh;
  margin-bottom:2vh;
  border-radius:5px;
  border:none;
  outline:none;
  font-size:1rem;

}
.upload{
  width:25%;
  height:5vh;
  margin-top:2vh;
  margin-bottom:2vh;
  border-radius:5px;
  border:none;
  outline:none;
  margin-left:2vw;
  font-size:1.1rem;
}
.upload1{
  width:25%;
  height:5vh;
  margin-top:2vh;
  margin-bottom:2vh;
  border-radius:5px;
  border:none;
  outline:none;
  margin-right:1vw;
  font-size:1.1rem;
}
.submit{
  width:30%;
  height:5vh;
  border-radius:5px;

}
.mainn{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100vw;
  font-size:3vh;
  background-color:black;
  color:white;

}