.pagee3{
height: 85vh;
  position: relative;
  background-color: black;
}
.how{
  display: flex;
  line-height: 2em;
  justify-content: center;
  font-size: xx-large;
  color:#fff;
  font-weight: 700;
  
}
.page3main{
    display:flex;
    position: relative;
    justify-content: space-around;
    /* flex-direction: row; */
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;

    /* height: 80vh; */
  }
  .left1{
  height: 60vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 600;
  font-size: xx-large;
  align-items: center;
  margin-left:100px;
  cursor: pointer;
  
}
.right1{
  height: 60vh;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  color: #fff;
  font-weight: 600;
  font-size: xx-large;
  align-items: center;
  margin-right: 70px;
  }
  .owner{
    height: 30vh;
    weight:40vw;
  }
