.main{
    background-color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    height:100vh;
  }
  .main2{
    margin-left:2rem;
  width:97%;
  height:50%;
  }
  .input1{
    width:20%;
    height:4vh;
    margin-top:2vh;
    margin-bottom:2vh;
    border-radius:5px;
    border:none;
    outline:none;
    font-size:1.1rem; 
  }
  .main3{
    width:97vw;
    margin-left:2rem;
  }
  .details1{
    width:97vw;
    display:flex;
    justify-content:space-around;
    border-bottom:solid white;
  }