
.welcome {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.welcomeDesc {
  height: 100vh;
  width: 50%;
  max-width: content;
  font-size: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left:5%;
  float :left;

}
  .span {
    line-height: 1.4em;
  }
/* .button1 {
  width: 40%;
  margin-left:1vw;
  font-size: 5vh;
  border-radius: 12px;
  background-color: #ffffff;
  color: black;
} */

.button1{
  background-color:#fff;
  color:black;
  
  font-size:4vh;
  
}
.welcomeImage {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.welcomeImg {
  height: 60vh;
  width: 30vw;
}

.welcomeImg:hover{
  width: 32vw;
  height: 62vh;

  cursor: pointer;
  scale: (1.5);
}


.joinBtn{
  background-color:#fff;
  color:black;
  font-size:2rem;
  cursor:pointer;
  border-radius:12px;
  padding:1rem;
  margin:1rem;
  font-family: 'Poppins', sans-serif;
  left: 0;
  float:left;
  width:max-content;
}
